* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* jumbotron */
.jumbotron {
    background-image: url('../images/apple-pie.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.jumbotron-header {
  font-size: 80px;
  color: white;
  font-weight: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  margin: 100px 200px;
  font-size: 30px;
}

/* intro section */
.intro-image {
  display: block;
  margin: 20px auto 30px;
}
